{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section id="produkt">
	<div class="container">
		<div class="row">
			{% if awarie.count > 0 %}
			<table id="result_list" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col" class="sortable column">Wydział</th>
						<th scope="col" class="sortable column">Maszyna</th>
						<th scope="col" class="sortable column">Opis awarii</th>
						<th scope="col" class="sortable column">Status</th>
						<th scope="col" class="sortable column">Zgłaszający</th>
						<th scope="col" class="sortable column">Data zgłoszenia awarii</th>
						<th scope="col" class="sortable column">Data rozpoczęcia naprawy</th>
						<th scope="col" class="sortable column">Data zakończenia naprawy</th>
						<th scope="col" class="sortable column">Przyjęte przez</th>
					</tr>
				</thead>
				<tbody>
				{% for awaria in awarie %}
					<tr class="row1 text-center">
						<td class="field-wydzial">{{ awaria.wydzial }}</td>
						<td class="field-maszyna"><strong>{{ awaria.maszyna }}</strong></td>
						<td class="field-opis text-justify"><a href="/edit/{{ awaria.id }}">{{ awaria.description }}</a></td>
						<th class="field-status">{{ awaria.status }}</th>
						<td class="field-declarant">{{ awaria.user }}</td>
						<td class="field-filing_date">{{ awaria.add_date |date:"d-m-Y H:i" }}</td>
						<td class="field-filing_date">{{ awaria.repair_date |date:"d-m-Y H:i" }}</td>
						<td class="field-filing_date">{{ awaria.remove_date |date:"d-m-Y H:i" }}</td>
						<td class="field-declarant">{{ awaria.sur }}</td
					</tr>
				{% endfor %}
				</tbody>
				{% else %}
				<p>Brak awarii</p>
			</table>
				{% endif %}
		</div>
		<nav>
			<ul class="pager">
				<li>{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
					{% endif %}
				</li>
				<li> 
					Strona: {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
				</li>
				<li>{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">Następna</a>
					{% endif %}
				</li>
			</ul>
		</nav>
		<a href="/new" class="btn btn-danger pull-right" id="add_new" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>Nowa awaria</strong></a>
		<nav class="p_down">
			<ul class="pager">
				<li>{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
					{% endif %}
				</li>
				<li> 
					Strona: {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
				</li>
				<li>{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">Następna</a>
					{% endif %}
				</li>
			</ul>
		</nav>
</section>
{% endblock %}